footer {
  background-color: rgb(2, 71, 2);
}
.flex {
  display: flex;
  justify-content: space-between;
}
.block {
  width: 15px;
  height: 15px;

  border: 5px solid #f44336;

  padding: 30px;

  margin: 80px;

  background-color: #ffeb3b;
}
.block-red {
  width: 15px;
  height: 15px;
  background-color: red;
  padding: 30px;

  margin: 80px;
  border: 5px solid yellow;
}
.block-list {
  list-style: none;
}
